
body , html {
height:100%;
margin:0;
}

.bg{
 background-image: url("fond.gif");
    height:100%;
	background-color:white;
    color:white;
    font-size : 25px;
    background-repeat:no-repeat;
	background-size:cover;
}
.apex {
	background-color:white;
	font-size :20px;
    border: 3px solid black;
    padding-top:20px;
    color:orange;
    text-align:center;

}
.logo{
text-align:center;
display:block;
margin:150px;
position:relative;
bottom:-120px;


	}

