body , html {
	height: 100%;
	margin:0;
}

.bg{
background-image: url("fond.gif");
height:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.text {

	background-color:grey;
    font-size:20px;
    border: 3px solid black;
    padding-top:20px;
    color:white;
    text-align:center;
}

.logo{
text-align:center;
display:block;
margin:150px;
position:relative;
bottom:-150px;
}

/*.text_btn {

    color:blue;
    font-size:100px;
    text-align:center;
	margin:auto;
	width:50%;
	border: 3px solid green;
	top: 50%;
	left: 40%;
	position: relative;
	
}*/
.text_btn:hover{
text-decoration:green;

}


.btn{
	background-color:orange;
   /* color:blue;*/
    border: 3px solid white;
    width:15%;
    height:10%;
    border-radius: 90px;
    font-size:70px;
    text-align:center;
    position:fixed;
    padding : 1% 1%;
	bottom :0;
}
.btn:hover{
	background-color:green;
}


/*.Jouer{
    background-color:orange;
    color:blue;
    border: 3px solid white;
    width:40%;
    height:20%;
    border-radius: 90px;
    font-size:200px;
    text-align:center;
    position:relative;
	padding : 1% 1%;
}*/
.Jouer:hover{
background-color:green;
}
a{
    text-decoration:none;
}



/*.Quitter{
    background-color:orange;
    color:blue;
    border: 3px solid white;
    width:20%;
    height:10%;
    border-radius: 90px;
    float:right;
    margin:-84px 0 ;
    float:bottom;
    font-size:40px;
    text-align:center;
    position:relative;
    top:450px;
}*/

.Quitter:hover{
background-color:green;
}

